[submodule "third_party/faiss"]
	path = third_party/faiss
	url = https://github.com/facebookresearch/faiss.git
[submodule "third_party/hnswlib"]
	path = third_party/hnswlib
	url = git@github.com:nmslib/hnswlib.git
[submodule "third_party/arena-benchmark"]
	path = third_party/arena-benchmark
	url = https://github.com/WittenYeh/arena-benchmark
